{% extends 'catalogo/base.html' %}

{% block contenido %}

<div class="favoritos-container">

    <h1>Mis Favoritos</h1>

    {% if favoritos %}
        <div class="favoritos-grid">

            {% for favorito in favoritos %}
                <div class="card">

                    <a href="{% url 'detalle_anime' favorito.anime.id %}" style="text-decoration: none; color: inherit;">
                        <img src="{{ favorito.anime.imagen }}" alt="{{ favorito.anime.titulo }}">
                        <h2>{{ favorito.anime.titulo }}</h2>
                        <p>{{ favorito.anime.descripcion|truncatewords:20 }}</p>
                    </a>

                    <a href="{% url 'detalle_anime' favorito.anime.id %}">
                        <button class="detalle-btn">Ver Detalle</button>
                    </a>

                    <a href="{% url 'quitar_favorito' favorito.anime.id %}">
                        <button class="quitar-btn">
                            Quitar de Favoritos
                        </button>
                    </a>

                </div>
            {% endfor %}

        </div>
    {% else %}
        <p class="sin-favoritos">Todavía no agregaste animes a favoritos.</p>
    {% endif %}

</div>

{% endblock %}